.burger {
	position: relative;
	z-index: 5;

	flex: 0 0 auto;

	display: none;

	width: $burger-width;
	height: $burger-heigth;

	@media (max-width: $md2) {
		display: block;
	}

	&__middle-line {
		position: absolute;
		left: 0;
		top: 9px;

		width: 100%;
		height: 2px;

		background-color: var(--burger-color);

		transition: transform 0.2s ease, background-color 0.2s ease;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;

		width: 100%;
		height: 2px;

		background-color: var(--burger-color);

		transition: all 0.2s ease 0s;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	&--active &__middle-line {
		transform: scale(0);
	}
	&--active:before {
		top: 9px;

		transform: rotate(45deg);
	}
	&--active:after {
		bottom: 9px;

		transform: rotate(-45deg);
	}
	&--active {
		&::before,
		&::after,
		.burger__middle-line {
			background-color: var(--burger-active-color);
		}
	}
}
