.nav {
	@media (max-width: $md2) {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;

		overflow-y: auto;

		display: block;

		width: 100vw;
		height: 100vh;

		background-color: #333;

		transform: translateX(100vw);
		transition: transform 0.3s ease;

		&--active {
			transform: translateX(0);
			transition: transform 0.3s ease;
		}
	}

	&__container {
		@media (max-width: $md2) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			height: 100%;
			padding-left: 40px;
			padding-right: 40px;
		}

		@include maxheight(756) {
			height: auto;
		}
	}

	&__list {
		display: flex;
		@media (max-width: $md2) {
			flex-direction: column;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;
			@media (max-width: $md2) {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
	}

	&__link {
		color: #000;

		@media (max-width: $md2) {
			color: #fff;

			font-size: 28px;
		}
	}
}
