<header class="header fixed-padding" id="header">
	<div class="header__container container">
		<a href="#header" class="header__logo-link link-reset">
			Digital Flow
		</a>
		<nav class="header__nav nav" aria-hidden="true">
			<div class="nav__container">
				<ul class="nav__list list-reset">
					<li class="nav__item"><a href="#" class="nav__link link-reset">Главная</a></li>
					<li class="nav__item"><a href="#" class="nav__link link-reset">О компании</a></li>
					<li class="nav__item"><a href="#" class="nav__link link-reset">Портфолио</a></li>
					<li class="nav__item"><a href="#" class="nav__link link-reset">Что мы предлагаем</a></li>
					<li class="nav__item"><a href="#" class="nav__link link-reset">Специальное предложение </a></li>
				</ul>
			</div>
		</nav>
		<button class="header__burger burger btn-reset" aria-expanded="false" aria-label="Відкрити меню">
			<span class="burger__middle-line">
			</span>
		</button>
	</div>
</header>